<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbarOpened">
     DjChats
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened = true">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened = false"></ion-searchbar>
  </ion-navbar>
  <div>
  <ion-segment [(ngModel)]="chat" class="custom-segment">
    <ion-segment-button value="calls">
      Calls
    </ion-segment-button>
    <ion-segment-button value="chats">
      Chats<ion-badge item-end>260</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="groups">
      Groups
    </ion-segment-button>
    <ion-segment-button value="contacts">
      Contacts
    </ion-segment-button>
  </ion-segment>
</div>
</ion-header>
<ion-content>
<div [ngSwitch]="chat" class="thumbnail-wrapper">
  <ion-list *ngSwitchCase="'calls'">
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/umesh.jpg">
      </ion-thumbnail>
      <h3>Umesh</h3>
      <p><small>Tech Lead </small><ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/vijay.jpg">
      </ion-thumbnail>
      <h3>Vijay </h3>
      <p><small>UI Specialist</small> <ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/profile.png">
      </ion-thumbnail>
      <h3>Sumit Sonawane</h3>
      <p><small>UI Specialist</small> <ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/deepak.jpg">
      </ion-thumbnail>
      <h3>Deepak Jawalkar</h3>
      <p><small>Upcoming Ionic Developer</small> <ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/umesh.jpg">
      </ion-thumbnail>
      <h3>Umesh</h3>
      <p><small>Tech Lead </small><ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/vijay.jpg">
      </ion-thumbnail>
      <h3>Vijay </h3>
      <p><small>UI Specialist</small> <ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/profile.png">
      </ion-thumbnail>
      <h3>Sumit Sonawane</h3>
      <p><small>UI Specialist</small> <ion-badge>260</ion-badge></p>
    </ion-item-divider>
    <ion-item-divider>
      <ion-thumbnail item-start>
        <img src="assets/imgs/deepak.jpg">
      </ion-thumbnail>
      <h3>Deepak Jawalkar</h3>
      <p><small>Upcoming Ionic Developer</small> <ion-badge>260</ion-badge></p>
    </ion-item-divider>
    
  </ion-list>

  <ion-list *ngSwitchCase="'chats'">
      <ion-item>
      <ion-thumbnail item-start>
         <img src="assets/imgs/profile.png">
      </ion-thumbnail>
      <h3>Luna</h3>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'groups'">
    <ion-grid>
        <ion-row class="gutters-1">
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/deepak.jpg"/>
              <div class="card-title">Deepak </div>
              <div class="card-subtitle">28 Listings</div>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/vijay.jpg"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/profile.png"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/profile.png"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/umesh.jpg"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/deepak.jpg"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/deepak.jpg"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="assets/imgs/deepak.jpg"/>
            </ion-card>
          </ion-col>
          <ion-fab bottom right>
          <button ion-fab><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        </ion-row>
    </ion-grid>    
  </ion-list>
  <ion-list *ngSwitchCase="'contacts'">
    <ion-item>
      <ion-thumbnail item-start>
         <img src="assets/imgs/profile.png">
      </ion-thumbnail>
      <h3>Luna</h3>
    </ion-item>
  </ion-list>
</div>
</ion-content>
